<header class="p-5">
  <h1 class="text-center">Weather Checker</h1>
</header>
<main class="d-flex flex-column justify-content-center">
  <div class="flex-row w-100">
      <input class="form-control"
             [placeholder]="'Введите название города'"
             [formControl]="searchFormControl"
      />
  </div>
  <ng-container *ngIf="!(isLoading$ | async);else loader">
    <app-current-weather-block
      [weatherData]="weatherData$.value?.current"
    ></app-current-weather-block>
    <app-weather-by-hour-table
      [weatherData]="weatherData$.value?.weatherByHours"
    ></app-weather-by-hour-table>
    <app-weather-diagram-bar
      [weatherData]="weatherData$.value?.weatherByHours"
    ></app-weather-diagram-bar>
  </ng-container>
</main>

<ngb-toast
  *ngFor="let toast of (toastrService.toasts$ | async)"
  [autohide]="true"
  [class]="toast.className"
  [delay]="toast.delay || 3000"
  (hidden)="toastrService.remove(toast)"
>{{toast.body}}</ngb-toast>

<ng-template #loader>
  <div class="m-auto spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</ng-template>
